* {
    padding: 0;
    margin: 0;
    font-family: "arial",sans-serif;
    box-sizing: border-box;
}
body {
   width: 100%;
   height: 100vh;
}
header {
    text-align: center;
}
.headline, .head-text {
    padding: 20px 0;
    font-size:18px;
}
.headline {
    background-color: rgb(60, 60, 73);
    color: white;
    font-size: 23px;
}

.head-text h2 {
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.7)
}
.head-text p {
    color:rgba(112, 128, 144, 0.6);
}
fieldset {
    border: none;
}
.hr1, .hr2 {
    margin-bottom: 5px;
}
.hr1 {
    margin-top: 15px;
    border:2px solid black;
}
.hr2 {
    border: 1px solid black;
}
.label1 {
    display: block;
    padding: 15px 20px 10px 0;
}
.input1 {
    display: block;
    padding: 20px 20px 20px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.input1::placeholder {
    text-align: end;
}
.input3 {
    display: block;
    padding: 20px 20px 20px 0;
    width: 40%;
    border-radius: 5px;
    border: none;
    text-align: end;
}
select {
    padding: 20px 20px 20px 0;
    border-radius: 5px;
    width: 100%;
}
.hr3 {
    margin: 25px auto;
}
form p {
    color: rgba(112, 128, 144, 0.6);
    padding: 10px 10px 10px 0;
}
.input2, .light {
    display: inline-block;
    padding: 10px;
}
.light2 {
    display: inline-block;
    padding: 20px 10px 10px 0;
}
form h2 {
    font-size: 22px;
    padding: 15px 20px 15px 0;
}
label {
    color: rgba(112, 128, 144, 0.6);
}
textarea, input, select {
    background-color: rgba(185, 183, 183, 0.4);
}
select {
    border: none;
}
textarea {
    width: 100%;
    border-radius: 5px;
}

button {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    background: rgba(43, 190, 129, 0.9);
    color: white;
    border: white;
    border-radius: 5px; 
}
.lastp {
    color: rgba(112, 128, 144, 0.6);
    text-align: center;
    padding: 5px 0 200px;
}
@media (min-width:320px) {
    .head-text {
        width: 90%;
        margin: auto;
    }
    hr {
        width: 100%;
        margin: auto;
    }
    form {
        width: 90%;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .head-text {
        width: 40%;
        margin: auto;
    }
    hr {
        width: 100%;
        margin: auto;
    }
    form {
        width: 40%;
        margin: auto;
    }
}

