* {
    padding: 0;
    margin: 0;
    font-family: "Work",sans-serif;
    box-sizing: border-box;
}
body {
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom right, rgb(125, 144, 202)10%,rgb(164, 201, 212),rgba(146, 132, 170, 0.8),rgba(177, 139, 187),rgb(164, 201, 212),rgb(192, 99, 187),rgb(207, 98, 165));
}
header {
    text-align: center;
}
.headline, .head-text {
    padding: 20px 0;
    font-size:18px;
}
.headline {
    background: radial-gradient(rgba(255, 255, 255, 0.4), rgb(172, 86, 122));

    color: white;
    font-size: 23px;
}

.head-text h2 {
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.7)
}
.head-text p {
    color:rgb(112, 128, 144);
}
fieldset {
    border: none;
    position: relative;
    overflow: hidden;
}
legend {
    display: flex;
}
.hr1, .hr2 {
    margin-bottom: 5px;
}
.hr1 {
    margin-top: 15px;
    border:2px solid black;
}
.hr2 {
    border: 1px solid black;
}
.label1 {
    display: block;
    padding: 15px 20px 10px 0;
    transition: all .4s ease;
}
.label1:hover {
    color: white;
}
.input1 {
    display: block;
    padding: 18px 20px 18px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    
    transition: all .4s ease;
}
.input1:hover, .input3:hover {
    opacity:.4;
} 

.input1::placeholder {
    text-align: end;
}
.input3 {
    display: block;
    padding: 20px 20px 20px 0;
    width: 40%;
    border-radius: 5px;
    border: none;
    transition: all 1s ease;
}
select {
    padding: 20px 20px 20px 0;
    border-radius: 5px;
    width: 100%;
    border:none;
    transition: all .4s ease;
}
select:hover {
    opacity: .4;
}
.hr3 {
    margin: 25px auto;
}
form p {
    color: rgba(112, 128, 144);
    padding: 10px 10px 10px 0;
}
.input2, .light {
    display: inline-block;
    padding: 10px;
}
.light2 {
    display: inline-block;
    padding: 20px 10px 10px 0;
}
form h2 {
    font-size: 22px;
    padding: 15px 20px 15px 0;
}
label {
    color: rgb(81, 111, 145);
}
textarea, input, select {
    background:linear-gradient(to right, white, rgb(176, 176, 230));
}
textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    transition: all .4s ease;
}
textarea:hover {
    opacity: .4;
}

button {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    background: rgba(43, 190, 129, 0.9);
    color: white;
    border: white;
    border-radius: 5px; 
    cursor: pointer;
    transition: all .6s ease;
}
button:hover {
    box-shadow: 0 5px 10px black;
    transform: translateY(-5px);
}

.lastp {
    color: rgba(59, 73, 87, 0.6);
    text-align: center;
    padding: 5px 0 200px;
}
@media (min-width:320px) {
    .head-text {
        width: 90%;
        margin: auto;
    }
    hr {
        width: 100%;
        margin: auto;
    }
    form {
        width: 90%;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .head-text {
        width: 50%;
        margin: auto;
    }
    hr {
        width: 100%;
        margin: auto;
    }
    form {
        width: 50%;
        margin: auto;
    }
}

